.navs{
	background-color:rgb(255, 255, 255);
	min-height:120px;
	max-height: fit-content;
    
}


 .navbar-brand { 
	 position: relative; z-index: 2;
	 /* display: inline-block; */
   
} 
 

.navbar-brand > img {
	margin-top:-1rem;	
	margin-left:9rem;
}
.navbar-inner{
	max-height:fit-content;
}
.nav.navbar-nav>li>a{
	color:navy;
	margin-top: 3rem;
	font-weight: 800;
	position: relative; z-index: 2;
	
}
.nav.navbar-nav>li>a:hover {
	color:gold;
	background-color:navy;
}
.carousel{
	margin-top:-2rem;
}
.carousel .cap h3{
	
	font-size: 5em; 
	font-weight: 800;
    color: gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.carousel .cap b{
	font-size:90px;
	font-family:fantasy;
}
.carousel .cap {
	padding-bottom: 10rem; 
	padding-top:10rem;
	 left:15%;
	right:15%; 
			
}
.carousel .cap i{
	/* color:navy; */
			
}

.carousel .cap p{
	font-size: xx-large;
    color:white;
    font-style:italic ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}
.carousel .cappy{
	display:block;
	text-align:start;
	 
}
.carousel button{
    width: 120px;
    height: 50px;
    background-color: rgb(18, 12, 54);
    color: gold;
    border-width: 0ch;
    margin-top: 2rem;
    border-color: black;
    font-weight: 600;
}
.carousel .item img{
    width: 100%;
	height:600px;
	background-position: right;
	background-size: cover;
}

 /* SUMMARY */
.container .callus{
	height: 600px;
	background-color:rgb(18, 12, 54);
	margin-top: -1rem;
}
.callus .card-header{
	background-image: url(/img/carp.png);
	background-size: cover;
	height: 250px;
	
}

 .callus .card-header h2 {
	padding-top: 7rem;
	color: white;
	text-align: center;
}
.container .callus h1 {
	font-weight: 900;
	font-size: 70px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
	color: orange;
	text-align: center;
	margin-top: 0rem;
}
.container .callus .card-text{
	font-size: x-large;
	color: rgb(247, 243, 243);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 3rem;
	font-style: italic;
}

.callus button{
	width: 130px;
	height: 30px;
	border-radius: 5rem;
	border-width: -0ch;
	margin-left: 1rem;
	font-weight: 400;
	
}
.callus .contact{
	
	background-color: white;
	color:rgb(30, 20, 87);
}
.callus .gallery{
	background-color:orange;
	color: white;
}
.container .main-div{
	margin-top: 10rem;
}
.container hr{
	border-width: 0.5ch;
	border-color: orange;
}
.container .main-div .history-heading{
	font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600;
	color:navy;
}
.main-div img{
  margin-top:-2rem;
}
.container .history p{
	font-size: medium;
	font-weight: 400;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: dimgray;	
}
.container .list span{
	color: orange;
}
.container .list-img{
	margin-top: 2rem;
}
.container .list {
	margin-top: 2rem;
	margin-left: -4rem;
}
.container .list li{
	list-style: none;
	line-height: 3rem;
	font-size: medium;
	font-weight: 400;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: dimgray;
}


/* SERVICES */
.app-content .services{
	 
	max-height: max-content;
	min-height: min-content;
	margin-top: 8rem;
	background-repeat:no-repeat;
	background-size:cover; 
	background-image: url(/img/edited.png);
}
.services .services-content{
	margin-bottom: 10.0rem;
	padding: 1rem;
}
.services img{
	height: 120px;
	width: 120px;
	margin-top: 3rem;
	margin-left: 5rem;
}
.services .card{
	
	height: 300px;
	width: 250px;
	max-width: 100%;
	min-width: min-content;

	background-color:rgb(255, 255, 249);
	margin:0.6rem;
	
}
.services .all-cards{
	padding: 5rem;
	
}
.services h3{
	margin: 2rem;
	color: white;
	font-weight: bolder;
	font-size: xx-large;
	
}
.services .card-text h4{
	text-align: center;
	margin-top: 2rem;
	font-weight: 600;
	color: orange;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.services .card-text p{
	color: navy;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 400;
	font-size: medium;
	text-align: center;
}
.services .container{
	margin-top: 10rem;
}
 /* PROJECTS */
.app-content .works{
	height: 300px;
	background-color:rgb(10, 10, 49);
}
.app-content .works h3{
	 margin-left: 0rem;
	color: white;
	font-weight: bolder;
	font-size: xx-large;
	 
}
.app-content .works button{
   background-color:orange;
   float: right;
   border-width: 0ch;
   font-size: small;
   font-weight: 600;
   height: 50px;
   color: white;
}
.app-content .works .container{
    margin-top: 8rem;
}

.works .gallery-content img{
	width:max-content;
}

.works .gallery-butts{
	/* float: left; */
	max-width: fit-content;
}
.works .gallery-butts .filter-button{
    font-size: 18px;
    border: 2px solid orange;
	padding:5px 10px;
    text-align: center;
    color: white;
	margin-bottom: 30px;
	margin-left: 0.5rem;
	background:transparent;
}
.works .gallery-butts .filter-button:hover,
.works .gallery-butts .filter-button:focus,
.works .gallery-butts .filter-button.active{
    color: #ffffff;
    background-color:orange;
	outline:none;
}

.gallery_product{
	padding:0;
	 position:relative; 
}
.gallery_product img{
	height: 300px;
	width: fit-content;
}
.gallery_product .img-info{
	position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
	overflow:hidden;
	color:#fff;
	top:0;
	display:none;
	   -webkit-transition: 2s;
    transition: 2s;
}

.gallery_product:hover .img-info{
	display:block;
   -webkit-transition: 2s;
    transition: 2s;
}
.gallery_product:hover h4{
	color: orange;
	font-weight:600;
	font-size:x-large;
}


/* ABOUT */

.About {
	margin-top: 6rem;
	
}
.About hr{
	border-color: darkgoldenrod;
}
.About h2{
	margin-bottom: -2rem;
	margin-top: 3rem;
	font-weight: 700;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgb(18, 12, 54);
}
.About .panel-group{
	height: 400px;
}
.About .panel-heading{
	height: 70px;
	background-color: rgb(18, 12, 54);
}
.About .panel-heading h4{
	
	color: goldenrod;
	font-weight: 600;
	font-size: x-large;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	/* padding:1rem ; */
}
.About .panel-heading .glyphicon{

	height: 70px;
    width: 70px;
	left: -16px;
	top: -10px;
	font-size: xx-large;
	font-weight:200;
	color:white;
	padding-bottom: 1rem;
	 background-color:orange; 
	 border-width: 0ch;
}
.About .glyphicon:hover{
	
	color:rgb(18, 12, 54);
}
.About .panel-heading{
	margin-bottom: 0px;
}
.About .panel-heading a{
	text-decoration: none;
}
.About .pan3{
	margin-top: 0px;
}
.About .panel-heading a:hover{
	color: white;
	/* sbackground-color: goldenrod; */
}
.About img{
	float: right;
	width: 50vh;
	margin-top:3rem;
}
.About .panel-group{
	margin-top: 6rem;
	border-width: 10px;
}

/* COUNTER ANIMATION */
.counter
{
    background-color: rgb(209, 193, 151);
	text-align: center;
	width: 100%;
	background-image: url(/img/lolo.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 5rem;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter .glyphicon
{
    font-size: 48px;
    background-color: orange;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
	/* animation-iteration-count:infinite; */
}
.counter-count{
	color: white;
	margin-top: 2rem;
	font-size: 24px;
}
.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: orange;
    line-height: 34px;
}


/* PRODUCT SECTION */

.shop{
	margin-top: 10rem;
	margin-bottom: 5rem;
}
.shop h3{
	font-size: xx-large;
	font-weight: 700;
	color: navy;
}
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
	background: #FFF;
	
}
.col-item .photo img
{
    margin: 0 auto;
	width: 100%;
	height:300px;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
	margin-top: 5px;
	
}

.col-item .price h5
{
    line-height: 20px;
	margin: 0;
	
}

.price-text-color
{
	color: orange;
	
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
	margin-top: 20px;
	color:orange;
}
[data-slide="prev"]
{
    margin-right: 10px;
}


/* CONTACT SECTION */

.Contact .row{
	height:500px;
	
	
	 /* display:flex;
	justify-content: center;  */
	/* padding: 5rem; */
	 /* margin-left: 17rem;  */
}
.Contact .row img{
	 height:500px;
	  width: max-content; 
	 opacity: 0.3;
	 background:black;
	 margin-right: -2rem;  
}
.Contact .social-media{
	display: flex;
	justify-content: center;
}
.Contact .social-media a{
	font-size:60px;
	padding: 1rem;
	color: white;
}
.Contact .social-media a:hover {
	
	color: rgb(19, 9, 53);
}

.Contact{

	height: 500px;
	width:;
	 background-color:  rgb(18, 12, 54);  
	margin-bottom: -0rem;
	
	/* box-shadow: -0.5rem 0 1rem rgb(190, 192, 192); */
}
 
.text-div{
	background: #ff9b00;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	height:500px;
	/* max-height: fit-content;
	min-height:fit-content ; */
	/* width:fit-content; */
	/* margin-left: -2rem; */
	/* box-shadow: -0.0rem 0 1.5rem rgb(190, 192, 192); */
}
.contact-info{
	padding-top:9rem;
	text-align: center;
}
.contact-form{
	margin-left:1rem;	
}

.contact-info h2{
	margin-bottom: 10%;
	font-weight: 600;
	color: rgb(18, 12, 54);
}
.contact-info .glyphicon{
	color:white;
	font-size: 70px;
}
.main-form{
	background: rgb(18, 12, 54);
	border-top-right-radius: 0.0rem;
	border-bottom-right-radius: 0.0rem;
	height: 500px;
	/* width:fit-content; */
	/* max-height: fit-content;
	min-height: fit-content; */
	/* box-shadow: -0.0rem 0 1.5rem rgb(191, 192, 192); */
}
.main-form h3{
	font-size: xx-large;
	color: #ff9b00;
	font-weight: 600;
	text-align: center;
	padding-top: 2rem;
	/* padding-left: 8rem; */
}
.form-group .form-control{
	width: 350px;
	margin-bottom: 1rem;
	/* margin-left: 6.5rem; */
	
}
.form-group input{
	height: 60px;
}

.contact-form .form-group{
	padding: 0rem;
}
/* .contact-form label{
	font-weight:600;
	color: rgb(216, 212, 212);
} */
.contact-form button{
	background: #ff9b00;
	color: #fff;
	font-weight: 600;
	width: 50%;
}
.contact-form button:focus{
	box-shadow:none;
}


/* Call Phone Animation */

.call{
	/* background-image: url(/img/plain.jpg); */
	height:300px;
}
.call .stage{
padding-top: 2rem;
}
.Order{
	text-align: center;
	color: navy;
	font-size: xx-large;
	font-weight: 600;
	padding-top: 1rem;
}
.stage p{
	text-align: center;
	font-size: xx-large;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: navy;
	font-weight:300;
	margin-top:1rem;
}
.stage .glyphicon {
	font-size: 80px;
	color: #ff9b00;
	display:flex;
	justify-content: center;
	margin-top: 0rem;
	 animation-duration: 2s;
	animation-iteration-count: infinite;
	/* background-color: #F44336; */
	/* height: 200px; */
	margin: 0 auto 0 auto;
	transform-origin: bottom;
	/* width: 200px;  */
}
.bounce-1 {
	animation-name: bounce-1;
	animation-timing-function: linear;
}
@keyframes bounce-1 {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-100px); }
	100% { transform: translateY(0); }
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* TESTIMONIALS */

#carousel h3{
	color:white;
	margin-bottom:3rem;
	font-weight:600;
	font-size:xx-large;
	
}
/* .quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
} */

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#carousel{
	
		background-color:rgb(18, 12, 54);
		margin-bottom:3rem;
		margin-top:10rem;
	}
#carousel .quote{
	color:orange;
	margin-top:2rem;
	padding-bottom:5rem;
	text-align:center;
}
#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity:1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color:orange;
  border: none;
}
#fade-quote-carousel blockquote {
	text-align: center;
	font-style:italic;
	font-size:30px;
	border: none;
	color: rgb(223, 245, 252);
}
#fade-quote-carousel .item img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
#carousel .item h5{
	text-align:center;
	color: lightblue;
	font-weight:500;
	font-size:x-large;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#carousel .item .location {
	text-align:center;
	color:orange;
	font-size:15px;
	font-weight:500;
}
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: orange;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color:rgb(10, 10, 49);
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
.footer{
	background-color:orange;
	color: white;
	margin-top: 2rem;
	padding: 1.5rem;
}
