.navs{
	background-color:rgb(255, 255, 255);
	height: 110px;
}
.navbar-brand img{
margin: 0rem;
}
.nav.navbar-nav>li>a{
	color:rgb(187, 87, 15);
	margin-top: 3rem;
	font-weight: 800;
}
.nav.navbar-nav>li>a:hover {
	color: rgb(248, 247, 182);
}
.carousel{
	margin-top:-2rem;
}
.carousel .cap h3{
	
	font-size: 65px;
	font-weight: 800;
    color:  rgb(255, 191, 30);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.carousel .cap {
	margin-bottom: 15rem;
	
}
.carousel .cap p{
	font-size: xx-large;
    color:white;
    font-style:italic ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}
.carousel .cappy{
	text-align: start;
	/* margin-top: 10rem; */
}
.carousel button{
    width: 120px;
    height: 50px;
    background-color: rgb(230, 167, 7);
    color: white;
    border-width: 0ch;
    margin-top: 2rem;
    border-color: black;
    font-weight: 600;
}
.carousel .item img{
    width: 100%;
	height:600px;
	background-position: right;
	background-size: cover;
}
.container .callus{
	height: 600px;
	background-color:rgb(37, 34, 34);
	margin-top: -1rem;
}
.callus .card-header{
	background-image: url(/img/carp.png);
	background-size: cover;
	height: 250px;
	
}

 .callus .card-header h2 {
	padding-top: 7rem;
	color: white;
	text-align: center;
}
.container .callus h1 {
	font-weight: 900;
	font-size: 70px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
	color: rgb(245, 139, 0);
	text-align: center;
	margin-top: 0rem;
}
.container .callus .card-text{
	font-size: x-large;
	color: rgb(247, 243, 243);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 3rem;
	font-style: italic;
}

.callus button{
	width: 130px;
	height: 30px;
	border-radius: 5rem;
	border-width: -0ch;
	margin-left: 1rem;
	font-weight: 400;
	
}
.callus .contact{
	
	background-color: white;
	color:black;
}
.callus .gallery{
	background-color:rgb(245, 139, 0);
	color: white;
}
.container .main-div{
	margin-top: 10rem;
}
.container hr{
	border-width: 0.5ch;
}
.container .main-div .history-heading{
	font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600;
}
.container .history p{
	font-size: medium;
	font-weight: 400;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: dimgray;	
}
.container .list span{
	color: sienna;
}
.container .list-img{
	margin-top: 2rem;
}
.container .list {
	margin-top: 2rem;
	margin-left: -4rem;
}
.container .list li{
	list-style: none;
	line-height: 3rem;
	font-size: medium;
	font-weight: 400;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: dimgray;
}
.app-content .services{
	 
	max-height: max-content;
	min-height: min-content;
	margin-top: 8rem;
	background-repeat:no-repeat;
	background-size:cover; 
	background-image: url(/img/carpy.png);
}
.services .services-content{
	margin-bottom: 10.0rem;
	padding: 1rem;
}
.services img{
	height: 120px;
	width: 120px;
	margin-top: 3rem;
	margin-left: 5rem;
}
.services .card{
	
	height: 300px;
	width: 250px;
	max-width: 100%;
	min-width: min-content;

	background-color:rgb(255, 255, 249);
	margin:0.6rem;
	
}
.services .all-cards{
	padding: 5rem;
	
}
.services h3{
	margin: 2rem;
	color: white;
	font-weight: bolder;
	font-size: xx-large;
	
}
.services .card-text h4{
	text-align: center;
	margin-top: 2rem;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.services .card-text p{
	color: slategray;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 400;
	font-size: medium;
	text-align: center;
}
.services .container{
	margin-top: 10rem;
}

.app-content .works{
	height: 300px;
	background-color:rgb(37, 34, 34) ;
}
.app-content .works h3{
	 margin-left: 2rem;
	color: white;
	font-weight: bolder;
	font-size: xx-large;
	 
}
.app-content .works button{
   background-color:rgb(245, 139, 0);
   float: right;
   border-width: 0ch;
   font-size: small;
   font-weight: 600;
   height: 50px;
   color: white;
}
.app-content .works .container{
    margin-top: 8rem;
}

.works .gallery-content img{
	width:max-content;
}

.works .gallery-butts{
	float: left;
}
.works .gallery-butts .filter-button{
    font-size: 18px;
    border: 2px solid rgb(245, 139, 0);
	padding:5px 10px;
    text-align: center;
    color: white;
	margin-bottom: 30px;
	margin-left: 1rem;
	background:transparent;
}
.works .gallery-butts .filter-button:hover,
.works .gallery-butts .filter-button:focus,
.works .gallery-butts .filter-button.active{
    color: #ffffff;
    background-color:rgb(245, 139, 0);
	outline:none;
}

.gallery_product{
	padding:0;
	 position:relative; 
}
.gallery_product img{
	height: 300px;
	width: fit-content;
}
.gallery_product .img-info{
	position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
	overflow:hidden;
	color:#fff;
	top:0;
	display:none;
	   -webkit-transition: 2s;
    transition: 2s;
}

.gallery_product:hover .img-info{
	display:block;
   -webkit-transition: 2s;
    transition: 2s;
}
.About {
	margin-top: 6rem;
	
}
.About hr{
	border-color: darkgoldenrod;
}
.About h2{
	margin-bottom: -2rem;
	margin-top: 3rem;
	font-weight: 700;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.About .panel-group{
	height: 400px;
}
.About .panel-heading{
	height: 70px;
	background-color: rgb(37, 34, 34);
}
.About .panel-heading h4{
	
	color: goldenrod;
	font-weight: 600;
	font-size: x-large;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	/* padding:1rem ; */
}
.About .panel-heading .glyphicon{

	height: 70px;
    width: 70px;
	left: -16px;
	top: -10px;
	font-size: xx-large;
	font-weight:200;
	color:white;
	padding-bottom: 1rem;
	 background-color: goldenrod; 
	 border-width: 0ch;
}
.About .glyphicon:hover{
	
	color:black;
}
.About .panel-heading{
	margin-bottom: 0px;
}
.About .panel-heading a{
	text-decoration: none;
}
.About .pan3{
	margin-top: 0px;
}
.About .panel-heading a:hover{
	color: white;
	/* sbackground-color: goldenrod; */
}
.About img{
	float: right;
	width: 50vh;
	margin-top:3rem;
}
.About .panel-group{
	margin-top: 6rem;
	border-width: 10px;
}

.counter
{
    background-color: rgb(209, 193, 151);
	text-align: center;
	width: 100%;
	background-image: url(/img/lolo.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 5rem;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter .glyphicon
{
    font-size: 48px;
    background-color: goldenrod;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
	/* animation-iteration-count:infinite; */
}
.counter-count{
	color: white;
	margin-top: 2rem;
	font-size: 24px;
}
.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: goldenrod;
    line-height: 34px;
}

/* @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css); */

.shop{
	margin-top: 10rem;
	margin-bottom: 5rem;
}
.shop h3{
	font-size: xx-large;
	font-weight: 700;
}
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
	background: #FFF;
	
}
.col-item .photo img
{
    margin: 0 auto;
	width: 100%;
	height:300px;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: goldenrod;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
	margin-top: 20px;
	color:goldenrod;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.Contact .row{
	 /* display:flex;
	justify-content: center;  */
	padding: 5rem;
	/* margin-left: 22rem; */
}
.stage p{
	text-align: center;
	font-size: xx-large;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:white;
	font-weight:300;
	margin-top:1rem;
}
.Contact{

	height: 600px;
	/* background-color: #25274d; */
	/* background-image: url(/img/matt5.jpg);
	background-position:left;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.3; */
	margin-bottom: 10rem;
	/* box-shadow: -0.5rem 0 1rem rgb(190, 192, 192); */
}
.Contact .order{
	text-align: center;
	color: rgb(207, 205, 205);
	font-size: xx-large;
	font-weight: 600;
	padding-top: 3rem;
}
.text-div{
	background: #ff9b00;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	height:500px;
	width:350px;
	box-shadow: -0.0rem 0 1.5rem rgb(190, 192, 192);
}
.contact-info{
	padding-top:9rem;
	text-align: center;
}

.contact-info h2{
	margin-bottom: 10%;
	font-weight: 600;
}
.contact-info .glyphicon{
	color:white;
	font-size: 70px;
}
.main-form{
	background: #fff;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	height: 500px;
	width: 550px;
	max-height: auto;
	min-height: fit-content;
	box-shadow: -0.0rem 0 1.5rem rgb(191, 192, 192);
}
.main-form h3{
	font-size: xx-large;
	font-weight: 600;
	text-align: center;
	padding-top: 2rem;
	padding-left: 8rem;
}
.form-group .form-control{
	width: 350px;
	margin-bottom: 1rem;
}
.form-group input{
	height: 55px;
}
.contact-form{
	margin-top: 0rem;
}
.contact-form .form-group{
	padding: 1.5rem;
}
.contact-form label{
	font-weight:600;
}
.contact-form button{
	background: #25274d;
	color: #fff;
	font-weight: 600;
	width: 25%;
}
.contact-form button:focus{
	box-shadow:none;
}

.stage .glyphicon {
	font-size: 80px;
	color: #ff9b00;
	display:flex;
	justify-content: center;
	margin-top: -4rem;
	 animation-duration: 2s;
	animation-iteration-count: infinite;
	/* background-color: #F44336; */
	/* height: 200px; */
	margin: 0 auto 0 auto;
	transform-origin: bottom;
	/* width: 200px;  */
}
.bounce-1 {
	animation-name: bounce-1;
	animation-timing-function: linear;
}
@keyframes bounce-1 {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-100px); }
	100% { transform: translateY(0); }
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.footer{
	background-color: darkgoldenrod;
	color: white;
	margin-top: 2rem;
	padding: 1.5rem;
}
